<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>{{ page.title }}</title>
<link href="{{ site.baseurl }}/styles/default.css" type="text/css" rel="stylesheet" />
<script type="text/javascript">
	var myImg = new Array("000.jpg","001.jpg","002.jpg","003.jpg","004.jpg","005.jpg");
</script>
</head>

<body onload="getImg(getRandomInt(0,5));">
<script type="text/javascript">
	
	function getRandomInt(min, max) {
    	return Math.floor(Math.random() * (max - min + 1)) + min;
	}
	function getImg(x){
		document.getElementById("banner").innerHTML = '<img src="{{ site.baseurl }}/images/' + myImg[x] + '" alt="banner" width="980" />';
	}

</script>
<div id="container">

<header>
	<h1>Zhipeng - Blog</h1>
</header>

<div id="banner">
	
</div>

<nav>
<ul>
	<li><a href="{{ site.baseurl }}" title="home">Home</a></li>
    <li><a href="{{ site.baseurl }}/aboutme.html" title="aboutme">About Me</a></li>
</ul>
</nav>

<div id="main">
	
	<div id="content">

        {{ content }}
        
    </div><!--#content ends here-->
    
    <div class="clear"></div>
    
    
</div><!--#main ends here-->

<aside>
	<p><a href="#" title="up">UP</a></p>
</aside>

<footer>
	<p>Copyright &copy; 2014 | <a href="mailto:keviniszzp@gmail.com" target="_blank" title="mail to: keviniszzp@gmail.com">Zhipeng Zeng</a></p>
	<p>Proudly hosted by <a href="http://github.com"><img src="{{ site.baseurl }}/images/github-logo.png" alt="Github" width="80px" height="24px" /></a></p>
</footer>
</div><!--#container ends here-->

</body>
</html>