<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="description" content="Welcome to github blog of Zhipeng Zeng. You can see his technical summary here.">
<meta name="author" content="Zhipeng Zeng">
<meta name="address" content="zhipengzeng.github.io/AAA-blog/">
<meta name="title" content="{{ page.title }}">
<title>{{ page.title }}</title>
<link href="{{ site.baseurl }}/styles/pygments.css" type="text/css" rel="stylesheet" />
<link href="{{ site.baseurl }}/styles/default.css" type="text/css" rel="stylesheet" />
</head>
<body>
<div class="container">
<header>
	<h1>Zhipeng-Blog</h1>
</header>
<nav>
<ul>
	<li><a href="{{ site.baseurl }}/index.html" title="home">Home</a></li>
    <li><a href="{{ site.baseurl }}/aboutme.html" title="aboutme">About Me</a></li>
</ul>
</nav>
<div id="content">
    {{ content }}
</div>
<footer>
	<p>Copyright &copy; 2014 | <a href="mailto:keviniszzp@gmail.com" target="_blank" title="mail to: keviniszzp@gmail.com">Zhipeng Zeng</a></p>
	<p>Proudly hosted by <a href="http://github.com"><img src="{{ site.baseurl }}/images/github-logo.png" alt="Github" width="80px" height="24px" /></a></p>
</footer>
</div>
</body>
</html>