@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
}
body{
	position:relative;
}
body:after{
	content:"";
	display:block;
	position:fixed;
	top:0;
	left:0;
	background-image:url(/AAA-Blog/images/back.jpg);
	width:100%;
	height:100%;
	opacity:0.8;
	z-index:-1;
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container{
	max-width:980px;
	width: 70%;
	min-width: 40%;
	margin: 20px auto;
}
/*--------------header--------------*/
header{
	border-top:2px #FFFFFF solid;
	padding:10px;
	margin:15px 0px 5px 0px;
	background-image:url(/AAA-Blog/images/zzp.png);
	background-position:80px 40px;
	background-size:144px 52px;
	background-repeat:no-repeat;
	height:100px;
	
}
header h1{
	margin-top:80px;
	margin-bottom: 5px;
	margin-right: 5px;
	color:#E8E8E8;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:28px;
	min-width: 190px;
	white-space: pre-wrap;
	text-align: right;
}
/*--------------navigation--------------*/
nav{
	height:35px;
	text-align:center;
	background-color:#E8E8E8;
	padding:0px;
}
nav ul a{
	color:#606060;
	padding:5px 4px 6px 4px;
}
nav ul{
	text-align:center;
}
nav li{
	list-style:none;
	margin-left:30px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #FFFFFF;
	line-height: 35px;
	float:left;
	position:relative;
	font-size:18px;
	font-variant:small-caps;
}
nav li a:link{
	text-decoration:none;
}
nav li a:hover{
	background-color:#606060;
	color:#FFFFFF;
}
/*--------------content--------------*/
#content{
	margin:30px 0px 0 30px;
	height:auto;
	min-height:300px;
	color:#FFFFFF;
	clear:both;
}
#content ol{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:20px;
	letter-spacing:.05em;
	margin-top: 10px;
}
#content p{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	border-bottom:1px #FFFFFF solid;
	padding:5px;
	margin-bottom:10px;
}
#content h2{
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:30px;
}
#content h2 span{
	color: #ADFFF1;
}
#content ul{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	padding: 5px 0 0 20px;
	margin-bottom: 5px;
}
#content a{
	text-decoration:none;
	color:#FFFFFF;
}
#content a:hover{
	color:#ADFFF1;
}


footer{
	height:100px;
	border-top:2px #FFFFFF solid;
	margin:5px 0 25px 0;
	text-align:center;
	clear:both;
	background-image:url(/AAA-Blog/images/zzp.png);
	background-repeat:no-repeat;
	background-position:center;
}
footer p{
	margin-top:5em;
	margin-bottom: 5px;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#FFFFFF;
}
footer p:last-of-type{
	margin-top: 5px;
}
footer a{
	text-decoration:none;
	color:#FFFFFF;
}
footer a:hover{
	color:#ADFFF1;
}
@media (max-width: 600px){
	#content{
		margin-left: 0;
	}
}
@media (max-width: 500px){
	header{
		background-image: none;
	}
	header h1{
		text-align: center;
		margin-top: 40px;
	}
	
}
