@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;
}
a{
	color: #FFFFFF;
}
a:hover{
	text-decoration:none;
	background-color: #D0D0D0;
	color: #5c5c5c;
	border-radius: 5px;
}

#home a{
	text-decoration:none;
	color:#5c5c5c;
	padding: 3px 0;
}
#home a:hover{
	color:#D0D0D0;
	background-color: #FFFFFF;
	border-radius: 5px;
}

body{
	background-image:url(/AAA-Blog/images/background.png);
	background-attachment:fixed;
	background-size:contain;
}
h2{
	margin-bottom: 20px;
	text-align:center;
}
aside {
	display: block; 
	width: 20%; 
	min-width:13em; 
	max-width: 400px; 
	height: 100%;  
	padding: 130px 5%; 
	background-color:#D0D0D0;
	position: fixed;
}
pre {
  border: solid 1px #ddd;	
  padding:5px 10px 5px 20px;
  background-color:#D0D0D0;
  line-height: 23px;
  margin: 10px 0 30px 0;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
  color: #000;
  font-size: 17px;
  border-radius: 5px;
}
blockquote pre{
	word-wrap:none;
	word-break: none;
	white-space: normal;
}
.disqus_a a{
	float: right;
	text-decoration: none;
}
#disqus_thread{
	margin-top: 30px;
}
.tag{
	color: #FFFFFF;
	background-color: #5c5c5c;
	padding: 2px;
	border-radius: 3px;
	margin-right:10px;
	font-size: 90%;
	margin-top:5px;
	display: inline-block;
}
.content code{
	font-family: Arial;
	background-color: #D0D0D0;
	color: #000;
	padding: 2px;
	font-size: 80%;
	border-radius: 4px;
}

pre code{
	font-family:Arial;
}
.side{ 
	font-size: 1em; 
	padding: 3px;
	color:#5c5c5c; 
	letter-spacing: 0.6px;
	margin-bottom:5px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-transform:capitalize;
	
}
aside img{
	margin:-100px 0 -20px 0;
	float:right;
}
.side p{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size:18px;
	padding:5px 0 10px 0;
	color:#3E3D88;
}
.content { 
	display: table-cell; 
	padding: 100px 5%; 
	font-size: 18px; 
	position: relative;
	width:60%;
	float:right;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color:#FFFFFF;
}
.content ul{
	list-style-position: inside;
	margin-bottom: 5px;
}
li,li p{
	margin-bottom: 5px;
}
.content ol{
	margin-bottom: 5px;
}

